<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Users
            <div class="pull-right">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-plus fa-1x"></i>
                    Add New User
                </button>
            </div>
        </h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/user">
        <i class="fa fa-male fa-5x button"></i>
        <h3>Dad</h3>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/user">
        <i class="fa fa-female fa-5x button"></i>
        <h3>Mom</h3>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/user">
        <i class="fa fa-male fa-5x button"></i>
        <h3>Johnny</h3>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/user">
        <i class="fa fa-female fa-5x button"></i>
        <h3>Susie</h3>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/user">
        <i class="fa fa-wheelchair fa-5x button"></i>
        <h3>Grandma</h3>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/user">
        <i class="fa fa-paw fa-5x button"></i>
        <h3>Fido</h3>
      </a>
    </div>
</div>