<a href="/activity" class="btn btn-default">
    <i class="fa fa-angle-left fa-1x"></i> Back
</a>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><b>MacBook</b>
            <div class="pull-right">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-wifi fa-1x"></i>
                    Scan
                </button>
                <button type="button" class="btn btn-default">
                    <i class="fa fa-pencil fa-1x"></i>
                    Edit
                </button>
                <button type="button" class="btn btn-danger">
                    <i class="fa fa-trash fa-1x"></i>
                    Delete
                </button>
            </div>
        </h2>
    </div>
</div>
<div class="row">

    <div class="col-lg-5 col-sm-6 text-center">
      <a href="/item">
        <i class="fa fa-laptop fa-5x button"></i>
        <h3>MacBook</h3>
      </a>
    </div>
    <div class="col-lg-7 col-sm-6">
      <h3>RFID Tag Number <small>#1938DFE837EF</small></h3>
      <h3>RFID Tag Type <small>Sticker</small></h3>
      <h3>Last Scanned <small>May 27, 2015 5:24 PM</small></h3>
      <h3>Total Times Scanned <small>53</small></h3>
      <h3>Total Times Forgotten <small>8</small></h3>
    </div>
    
</div>