<a href="/" class="btn btn-default">
    <i class="fa fa-angle-left fa-1x"></i> Back
</a>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Activities
            <div class="pull-right">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-plus fa-1x"></i>
                    Add New Activity
                </button>
            </div>
        </h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/activity">
        <i class="fa fa-university fa-5x button"></i>
        <h3>School</h3>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/activity">
        <i class="fa fa-briefcase fa-5x button"></i>
        <h3>Work</h3>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/activity">
        <i class="fa fa-automobile fa-5x button"></i>
        <h3>Driving</h3>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="/activity">
        <i class="fa fa-bus fa-5x button"></i>
        <h3>Commuting</h3>
      </a>
    </div>
</div>